In [58]:
import numpy as np
import pandas as pd
import time
import re

In [83]:
pd.set_option('display.max_colwidth', -1)

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

## Load Data

In [32]:
base = pd.read_csv("delivery_orders_march.csv")
base.head()

      orderid        pick  1st_deliver_attempt  2nd_deliver_attempt                                                                                                                                            buyeraddress                                                                                                   selleraddress
0  2215676524  1583138397  1.583385e+09        NaN                   Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,cordova,cebu Mt.VERNON Buolding, Habagat Lordman NATL Metro Manila                                         Pantranco vill. 417 Warehouse# katipunan 532 (UNIT Metro Manila
1  2219624609  1583309968  1.583463e+09         1.583799e+09         coloma's quzom CASANAS Site1 Masiyan 533A Stolberge 10,Baloy eastt away 041banahaw street,Tuguegarao agro, Metro Manila                                 BLDG 210A Moras C42B 2B16,168 church) Complex JUNKSHOP. 22-c Metro Manila
2  2220979489  1583306434  1.583460e+09        NaN                   21-O LumangDaan,Capitangan,Abucay,Bataan .Bignay Office,Buhanginan saBrgy186, 34i (bayanihan MALARIA, Alindahaw, Rm401, st.ngry p.pasubas metro manila  #66 150-C, DRIVE, Milagros Joe socorro Metro Manila
3  2221066352  1583419016  1.583556e+09        NaN                   616Espiritu MARTINVILLE,MANUYO #5paraiso kengi 12nn-9pm Brgy,Milagrosa 6Putohan,Tramo #18saint вєrnαвє st,CAA Metro Manila                              999maII 201,26 Villaruel Barretto gen.t number: 70-B 7A. MALL kanto- 1040  Metro Manila
4  2222478803  1583318305  1.583480e+09        NaN                   L042 Summerbreezee1 L2(Balanay analyn Lot760 Cluster3-2T seppina UPPERG/L luzon                                                                         G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4C lot6 2F-48 st.,Binondo 1188Mall2M01 carnation Mae Metro Manila

## Transform Data to Required Formats and Information

In [94]:
transformed = base.copy()

In [95]:
transformed.head()

      orderid        pick  1st_deliver_attempt  2nd_deliver_attempt                                                                                                                                            buyeraddress                                                                                                   selleraddress
0  2215676524  1583138397  1.583385e+09        NaN                   Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,cordova,cebu Mt.VERNON Buolding, Habagat Lordman NATL Metro Manila                                         Pantranco vill. 417 Warehouse# katipunan 532 (UNIT Metro Manila
1  2219624609  1583309968  1.583463e+09         1.583799e+09         coloma's quzom CASANAS Site1 Masiyan 533A Stolberge 10,Baloy eastt away 041banahaw street,Tuguegarao agro, Metro Manila                                 BLDG 210A Moras C42B 2B16,168 church) Complex JUNKSHOP. 22-c Metro Manila
2  2220979489  1583306434  1.583460e+09        NaN                   21-O LumangDaan,Capitangan,Abucay,Bataan .Bignay Office,Buhanginan saBrgy186, 34i (bayanihan MALARIA, Alindahaw, Rm401, st.ngry p.pasubas metro manila  #66 150-C, DRIVE, Milagros Joe socorro Metro Manila
3  2221066352  1583419016  1.583556e+09        NaN                   616Espiritu MARTINVILLE,MANUYO #5paraiso kengi 12nn-9pm Brgy,Milagrosa 6Putohan,Tramo #18saint вєrnαвє st,CAA Metro Manila                              999maII 201,26 Villaruel Barretto gen.t number: 70-B 7A. MALL kanto- 1040  Metro Manila
4  2222478803  1583318305  1.583480e+09        NaN                   L042 Summerbreezee1 L2(Balanay analyn Lot760 Cluster3-2T seppina UPPERG/L luzon                                                                         G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4C lot6 2F-48 st.,Binondo 1188Mall2M01 carnation Mae Metro Manila

In [96]:
def pick(row):
    try:
        return time.strftime('%Y-%m-%d', time.localtime(row['pick']))
    except:
        return
    
def first(row):
    try:
        return time.strftime('%Y-%m-%d', time.localtime(row['1st_deliver_attempt']))
    except:
        return
    
def second(row):
    try:
        return time.strftime('%Y-%m-%d', time.localtime(row['2nd_deliver_attempt']))
    except:
        return

In [97]:
# Change dates from epoch to string
transformed['pick'] = transformed.apply(pick, axis=1)
transformed['1st_deliver_attempt'] = transformed.apply(first, axis=1)
transformed['2nd_deliver_attempt'] = transformed.apply(second, axis=1)

In [98]:
transformed.head()

      orderid        pick 1st_deliver_attempt 2nd_deliver_attempt                                                                                                                                            buyeraddress                                                                                                   selleraddress
0  2215676524  2020-03-02  2020-03-05          None                Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,cordova,cebu Mt.VERNON Buolding, Habagat Lordman NATL Metro Manila                                         Pantranco vill. 417 Warehouse# katipunan 532 (UNIT Metro Manila
1  2219624609  2020-03-04  2020-03-06          2020-03-10          coloma's quzom CASANAS Site1 Masiyan 533A Stolberge 10,Baloy eastt away 041banahaw street,Tuguegarao agro, Metro Manila                                 BLDG 210A Moras C42B 2B16,168 church) Complex JUNKSHOP. 22-c Metro Manila
2  2220979489  2020-03-04  2020-03-06          None                21-O LumangDaan,Capitangan,Abucay,Bataan .Bignay Office,Buhanginan saBrgy186, 34i (bayanihan MALARIA, Alindahaw, Rm401, st.ngry p.pasubas metro manila  #66 150-C, DRIVE, Milagros Joe socorro Metro Manila
3  2221066352  2020-03-05  2020-03-07          None                616Espiritu MARTINVILLE,MANUYO #5paraiso kengi 12nn-9pm Brgy,Milagrosa 6Putohan,Tramo #18saint вєrnαвє st,CAA Metro Manila                              999maII 201,26 Villaruel Barretto gen.t number: 70-B 7A. MALL kanto- 1040  Metro Manila
4  2222478803  2020-03-04  2020-03-06          None                L042 Summerbreezee1 L2(Balanay analyn Lot760 Cluster3-2T seppina UPPERG/L luzon                                                                         G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4C lot6 2F-48 st.,Binondo 1188Mall2M01 carnation Mae Metro Manila

In [99]:
transformed['buyeraddress'] = transformed['buyeraddress'].str.upper()
transformed['selleraddress'] = transformed['selleraddress'].str.upper()

In [100]:
transformed.head()

      orderid        pick 1st_deliver_attempt 2nd_deliver_attempt                                                                                                                                            buyeraddress                                                                                                   selleraddress
0  2215676524  2020-03-02  2020-03-05          None                BAGING LDL BUENAVISTA,PATAG.CAGAYAN BUAGSONG,CORDOVA,CEBU MT.VERNON BUOLDING, HABAGAT LORDMAN NATL METRO MANILA                                         PANTRANCO VILL. 417 WAREHOUSE# KATIPUNAN 532 (UNIT METRO MANILA
1  2219624609  2020-03-04  2020-03-06          2020-03-10          COLOMA'S QUZOM CASANAS SITE1 MASIYAN 533A STOLBERGE 10,BALOY EASTT AWAY 041BANAHAW STREET,TUGUEGARAO AGRO, METRO MANILA                                 BLDG 210A MORAS C42B 2B16,168 CHURCH) COMPLEX JUNKSHOP. 22-C METRO MANILA
2  2220979489  2020-03-04  2020-03-06          None                21-O LUMANGDAAN,CAPITANGAN,ABUCAY,BATAAN .BIGNAY OFFICE,BUHANGINAN SABRGY186, 34I (BAYANIHAN MALARIA, ALINDAHAW, RM401, ST.NGRY P.PASUBAS METRO MANILA  #66 150-C, DRIVE, MILAGROS JOE SOCORRO METRO MANILA
3  2221066352  2020-03-05  2020-03-07          None                616ESPIRITU MARTINVILLE,MANUYO #5PARAISO KENGI 12NN-9PM BRGY,MILAGROSA 6PUTOHAN,TRAMO #18SAINT ВЄRNΑВЄ ST,CAA METRO MANILA                              999MAII 201,26 VILLARUEL BARRETTO GEN.T NUMBER: 70-B 7A. MALL KANTO- 1040  METRO MANILA
4  2222478803  2020-03-04  2020-03-06          None                L042 SUMMERBREEZEE1 L2(BALANAY ANALYN LOT760 CLUSTER3-2T SEPPINA UPPERG/L LUZON                                                                         G66MANILA HIYAS FITNESS MAYSILO MAGDIWANG LT.4C LOT6 2F-48 ST.,BINONDO 1188MALL2M01 CARNATION MAE METRO MANILA

In [101]:
def extract_area(data):
    add_info = data.split(" ")

    if add_info[-1] == 'MANILA':
        return add_info[-2].title() + " " + add_info[-1].title()
    else:
        return add_info[-1].title()

In [102]:
test = transformed['selleraddress'].copy()
transformed['selleraddress'] = test.apply(extract_area)
test = transformed['buyeraddress'].copy()
transformed['buyeraddress'] = test.apply(extract_area)

In [103]:
transformed.head()

      orderid        pick 1st_deliver_attempt 2nd_deliver_attempt  buyeraddress selleraddress
0  2215676524  2020-03-02  2020-03-05          None                Metro Manila  Metro Manila
1  2219624609  2020-03-04  2020-03-06          2020-03-10          Metro Manila  Metro Manila
2  2220979489  2020-03-04  2020-03-06          None                Metro Manila  Metro Manila
3  2221066352  2020-03-05  2020-03-07          None                Metro Manila  Metro Manila
4  2222478803  2020-03-04  2020-03-06          None                Luzon         Metro Manila

## Calculate 3PL Time Taken

In [104]:
final = transformed.copy()

In [105]:
final

                orderid        pick 1st_deliver_attempt 2nd_deliver_attempt  buyeraddress selleraddress
0        2215676524      2020-03-02  2020-03-05          None                Metro Manila  Metro Manila
1        2219624609      2020-03-04  2020-03-06          2020-03-10          Metro Manila  Metro Manila
2        2220979489      2020-03-04  2020-03-06          None                Metro Manila  Metro Manila
3        2221066352      2020-03-05  2020-03-07          None                Metro Manila  Metro Manila
4        2222478803      2020-03-04  2020-03-06          None                Luzon         Metro Manila
...             ...             ...         ...           ...                  ...                  ...
3176308  31504087640510  2020-04-02  2020-04-04          None                Metro Manila  Metro Manila
3176309  31504147352227  2020-04-03  2020-04-06          2020-04-07          Metro Manila  Metro Manila
3176310  31504462290482  2020-04-02  2020-04-04          None                Metro Manila  Metro Manila
3176311  31504851495943  2020-04-03  2020-04-07          None                Luzon         Metro Manila
3176312  31505199116340  2020-04-02  2020-04-06          2020-04-07          Luzon         Metro Manila

[3176313 rows x 6 columns]

In [107]:
# YYYY-MM-DD
holiday_list = ['2020-03-08', '2020-03-25', '2020-03-30', '2020-03-31']

In [116]:
def first_attempt_time(row):
    return np.busday_count(row['pick'], row['1st_deliver_attempt'], weekmask = '1111110', holidays = holiday_list)

def second_attempt_time(row):
    try:
        return np.busday_count(row['1st_deliver_attempt'], row['2nd_deliver_attempt'], weekmask = '1111110', holidays = holiday_list)
    except:
        return

In [111]:
final['first_time_taken'] = final.apply(first_attempt_time, axis=1)

In [113]:
final.head(10)

      orderid        pick 1st_deliver_attempt 2nd_deliver_attempt  buyeraddress selleraddress  first_time_taken
0  2215676524  2020-03-02  2020-03-05          None                Metro Manila  Metro Manila  3
1  2219624609  2020-03-04  2020-03-06          2020-03-10          Metro Manila  Metro Manila  2
2  2220979489  2020-03-04  2020-03-06          None                Metro Manila  Metro Manila  2
3  2221066352  2020-03-05  2020-03-07          None                Metro Manila  Metro Manila  2
4  2222478803  2020-03-04  2020-03-06          None                Luzon         Metro Manila  2
5  2222597288  2020-03-04  2020-03-07          None                Metro Manila  Metro Manila  3
6  2222738456  2020-03-02  2020-03-05          2020-03-09          Metro Manila  Metro Manila  3
7  2224695304  2020-03-02  2020-03-10          None                Metro Manila  Metro Manila  7
8  2224704587  2020-03-04  2020-03-05          2020-03-09          Luzon         Metro Manila  1
9  2225138267  2020-03-04  2020-03-10          None                Visayas       Metro Manila  5

In [117]:
final['second_time_taken'] = final.apply(second_attempt_time, axis=1)

In [119]:
final.head(10)

      orderid        pick 1st_deliver_attempt 2nd_deliver_attempt  buyeraddress selleraddress  first_time_taken  second_time_taken
0  2215676524  2020-03-02  2020-03-05          None                Metro Manila  Metro Manila  3                NaN
1  2219624609  2020-03-04  2020-03-06          2020-03-10          Metro Manila  Metro Manila  2                 3.0
2  2220979489  2020-03-04  2020-03-06          None                Metro Manila  Metro Manila  2                NaN
3  2221066352  2020-03-05  2020-03-07          None                Metro Manila  Metro Manila  2                NaN
4  2222478803  2020-03-04  2020-03-06          None                Luzon         Metro Manila  2                NaN
5  2222597288  2020-03-04  2020-03-07          None                Metro Manila  Metro Manila  3                NaN
6  2222738456  2020-03-02  2020-03-05          2020-03-09          Metro Manila  Metro Manila  3                 3.0
7  2224695304  2020-03-02  2020-03-10          None                Metro Manila  Metro Manila  7                NaN
8  2224704587  2020-03-04  2020-03-05          2020-03-09          Luzon         Metro Manila  1                 3.0
9  2225138267  2020-03-04  2020-03-10          None                Visayas       Metro Manila  5                NaN

In [130]:
def first_check(row):
    if row['selleraddress'] == 'Visayas' or row['selleraddress'] == 'Mindanao':
        alloted_time = 7
    
    elif row['buyeraddress'] == 'Visayas' or row['buyeraddress'] == 'Mindanao':
        alloted_time = 7
    
    elif row['selleraddress'] == 'Metro Manila':
        # Metro Manila (3), Luzon (5), Visayas (7), Mindanao (7)
        if row['buyeraddress'] == 'Metro Manila':
            alloted_time = 3
        else:
            alloted_time = 5            
    else:
        alloted_time = 5
    
    if row['first_time_taken'] > alloted_time:
        return 1
    else:
        return 0

In [137]:
def second_check(row):
    try:
        if row['second_time_taken'] > 3:
            return 1
        else:
            return 0
    except:
        return 0

In [138]:
final['first_check'] = final.apply(first_check, axis = 1)

In [140]:
final.head(10)

      orderid        pick 1st_deliver_attempt 2nd_deliver_attempt  buyeraddress selleraddress  first_time_taken  second_time_taken  first_check
0  2215676524  2020-03-02  2020-03-05          None                Metro Manila  Metro Manila  3                NaN                 0
1  2219624609  2020-03-04  2020-03-06          2020-03-10          Metro Manila  Metro Manila  2                 3.0                0
2  2220979489  2020-03-04  2020-03-06          None                Metro Manila  Metro Manila  2                NaN                 0
3  2221066352  2020-03-05  2020-03-07          None                Metro Manila  Metro Manila  2                NaN                 0
4  2222478803  2020-03-04  2020-03-06          None                Luzon         Metro Manila  2                NaN                 0
5  2222597288  2020-03-04  2020-03-07          None                Metro Manila  Metro Manila  3                NaN                 0
6  2222738456  2020-03-02  2020-03-05          2020-03-09          Metro Manila  Metro Manila  3                 3.0                0
7  2224695304  2020-03-02  2020-03-10          None                Metro Manila  Metro Manila  7                NaN                 1
8  2224704587  2020-03-04  2020-03-05          2020-03-09          Luzon         Metro Manila  1                 3.0                0
9  2225138267  2020-03-04  2020-03-10          None                Visayas       Metro Manila  5                NaN                 0

In [141]:
final['second_check'] = final.apply(second_check, axis = 1)

In [143]:
final.head(50)

       orderid        pick 1st_deliver_attempt 2nd_deliver_attempt  buyeraddress selleraddress  first_time_taken  second_time_taken  first_check  second_check
0   2215676524  2020-03-02  2020-03-05          None                Metro Manila  Metro Manila  3                NaN                 0            0
1   2219624609  2020-03-04  2020-03-06          2020-03-10          Metro Manila  Metro Manila  2                 3.0                0            0
2   2220979489  2020-03-04  2020-03-06          None                Metro Manila  Metro Manila  2                NaN                 0            0
3   2221066352  2020-03-05  2020-03-07          None                Metro Manila  Metro Manila  2                NaN                 0            0
4   2222478803  2020-03-04  2020-03-06          None                Luzon         Metro Manila  2                NaN                 0            0
5   2222597288  2020-03-04  2020-03-07          None                Metro Manila  Metro Manila  3                NaN                 0            0
6   2222738456  2020-03-02  2020-03-05          2020-03-09          Metro Manila  Metro Manila  3                 3.0                0            0
7   2224695304  2020-03-02  2020-03-10          None                Metro Manila  Metro Manila  7                NaN                 1            0
8   2224704587  2020-03-04  2020-03-05          2020-03-09          Luzon         Metro Manila  1                 3.0                0            0
9   2225138267  2020-03-04  2020-03-10          None                Visayas       Metro Manila  5                NaN                 0            0
10  2225861241  2020-03-07  2020-03-10          None                Metro Manila  Metro Manila  2                NaN                 0            0
11  2226935316  2020-03-02  2020-03-05          None                Luzon         Metro Manila  3                NaN                 0            0
12  2226951056  2020-03-04  2020-03-06          None                Metro Manila  Metro Manila  2                NaN                 0            0
13  2227381103  2020-03-04  2020-03-07          None                Luzon         Metro Manila  3                NaN                 0            0
14  2227760598  2020-03-02  2020-03-07          None                Visayas       Metro Manila  5                NaN                 0            0
15  2227768858  2020-03-02  2020-03-04          None                Metro Manila  Metro Manila  2                NaN                 0            0
16  2227771109  2020-03-02  2020-03-04          2020-03-05          Metro Manila  Metro Manila  2                 1.0                0            0
17  2227783105  2020-03-02  2020-03-05          2020-03-07          Metro Manila  Metro Manila  3                 2.0                0            0
18  2227783217  2020-03-02  2020-03-05          None                Metro Manila  Metro Manila  3                NaN                 0            0
19  2227790841  2020-03-02  2020-03-10          2020-03-18          Mindanao      Metro Manila  7                 7.0                0            1
20  2227812042  2020-03-04  2020-03-07          None                Metro Manila  Metro Manila  3                NaN                 0            0
21  2227816770  2020-03-02  2020-03-06          2020-03-07          Metro Manila  Metro Manila  4                 1.0                1            0
22  2227817800  2020-03-02  2020-03-11          None                Visayas       Metro Manila  8                NaN                 1            0
23  2227824091  2020-03-02  2020-03-10          2020-03-11          Mindanao      Metro Manila  7                 1.0                0            0
24  2227831996  2020-03-02  2020-03-06          2020-03-10          Metro Manila  Metro Manila  4                 3.0                1            0
25  2227839899  2020-03-06  2020-03-09          None                Metro Manila  Metro Manila  2                NaN                 0            0
26  2227840284  2020-03-04  2020-03-06          None                Metro Manila  Metro Manila  2                NaN                 0            0
27  2227846339  2020-03-02  2020-03-11          None                Visayas       Metro Manila  8                NaN                 1            0
28  2227847460  2020-03-04  2020-03-07          None                Metro Manila  Metro Manila  3                NaN                 0            0
29  2227849732  2020-03-02  2020-03-09          None                Metro Manila  Metro Manila  6                NaN                 1            0
30  2227853544  2020-03-02  2020-03-06          None                Mindanao      Metro Manila  4                NaN                 0            0
31  2227853698  2020-03-02  2020-03-05          2020-03-06          Metro Manila  Metro Manila  3                 1.0                0            0
32  2227858491  2020-03-02  2020-03-04          None                Luzon         Metro Manila  2                NaN                 0            0
33  2227864372  2020-03-02  2020-03-04          2020-03-05          Metro Manila  Metro Manila  2                 1.0                0            0
34  2227865143  2020-03-05  2020-03-10          None                Luzon         Metro Manila  4                NaN                 0            0
35  2227870970  2020-03-02  2020-03-04          None                Metro Manila  Metro Manila  2                NaN                 0            0
36  2227873008  2020-03-02  2020-03-05          None                Luzon         Metro Manila  3                NaN                 0            0
37  2227874381  2020-03-02  2020-03-07          None                Visayas       Metro Manila  5                NaN                 0            0
38  2227878093  2020-03-02  2020-03-06          None                Metro Manila  Metro Manila  4                NaN                 1            0
39  2227882334  2020-03-04  2020-03-09          None                Luzon         Metro Manila  4                NaN                 0            0
40  2227889126  2020-03-02  2020-03-06          None                Visayas       Metro Manila  4                NaN                 0            0
41  2227892627  2020-03-02  2020-03-04          None                Metro Manila  Metro Manila  2                NaN                 0            0
42  2227896956  2020-03-02  2020-03-05          None                Metro Manila  Metro Manila  3                NaN                 0            0
43  2227899069  2020-03-02  2020-03-05          None                Metro Manila  Metro Manila  3                NaN                 0            0
44  2227914137  2020-03-02  2020-03-04          2020-03-05          Luzon         Metro Manila  2                 1.0                0            0
45  2227917424  2020-03-02  2020-03-05          None                Metro Manila  Metro Manila  3                NaN                 0            0
46  2227931999  2020-03-02  2020-03-04          None                Metro Manila  Metro Manila  2                NaN                 0            0
47  2227939138  2020-03-02  2020-03-06          None                Visayas       Metro Manila  4                NaN                 0            0
48  2227941125  2020-03-02  2020-03-03          None                Metro Manila  Metro Manila  1                NaN                 0            0
49  2227941380  2020-03-04  2020-03-06          None                Luzon         Metro Manila  2                NaN                 0            0

In [155]:
final['is_late'] = ((final['first_check'] + final['second_check']) >= 1).astype(int)

In [156]:
final.head(10)

      orderid        pick 1st_deliver_attempt 2nd_deliver_attempt  buyeraddress selleraddress  first_time_taken  second_time_taken  first_check  second_check  breach  is_late
0  2215676524  2020-03-02  2020-03-05          None                Metro Manila  Metro Manila  3                NaN                 0            0             0       0
1  2219624609  2020-03-04  2020-03-06          2020-03-10          Metro Manila  Metro Manila  2                 3.0                0            0             0       0
2  2220979489  2020-03-04  2020-03-06          None                Metro Manila  Metro Manila  2                NaN                 0            0             0       0
3  2221066352  2020-03-05  2020-03-07          None                Metro Manila  Metro Manila  2                NaN                 0            0             0       0
4  2222478803  2020-03-04  2020-03-06          None                Luzon         Metro Manila  2                NaN                 0            0             0       0
5  2222597288  2020-03-04  2020-03-07          None                Metro Manila  Metro Manila  3                NaN                 0            0             0       0
6  2222738456  2020-03-02  2020-03-05          2020-03-09          Metro Manila  Metro Manila  3                 3.0                0            0             0       0
7  2224695304  2020-03-02  2020-03-10          None                Metro Manila  Metro Manila  7                NaN                 1            0             1       1
8  2224704587  2020-03-04  2020-03-05          2020-03-09          Luzon         Metro Manila  1                 3.0                0            0             0       0
9  2225138267  2020-03-04  2020-03-10          None                Visayas       Metro Manila  5                NaN                 0            0             0       0

In [158]:
submission = final[['orderid','is_late']].copy()

In [164]:
len(submission)

3176313

In [165]:
submission.to_csv('Lets go Makan_Challenge 5.csv', index = False)